@import 'variables';

.GameCanvas {
    // Design everything with a nice em of 10px.
    font-size: $base-font-size;

    // Create a 1024x576 pixel canvas.
    // If everything is defined in em's, you can resize
    // the whole game just by changing the font-size above
    // with javascript.
    position: absolute;
    left: 50%;
    top: 50%;
    width: em(1024px);
    height: em(576px);
    margin-left: (em(-1024px) / 2);
    margin-top: (em(-576px) / 2);

    // Don't draw outside this box.
    overflow: hidden;
}

.Background{
    height: 100%;
    width: 4000px;
    position: absolute;
    background-image: url("../images/thewallfinal.png");
    background-position: 0 0;
    background-size: 2000px 100%;
    background-repeat: repeat-x;
    top: 0;
    left: 0;
    -webkit-animation: animatedBackground linear 40s infinite;
}

@-webkit-keyframes animatedBackground {
    from { -webkit-transform: translate3d(0, 0, 0); }
    to { -webkit-transform: translate3d(-2000px, 0, 0); }
}


.Foreground{
    height: em(50px);
    width: em(1252px);
    position: absolute;
    bottom: 0;
    background-image: url("../images/icy.png");
    background-position: 0px 0px;
    background-repeat: repeat-x;
    background-size: em(114px) em(50px);
    z-index: 100;
    -webkit-animation: animatedForeground linear infinite;
    -webkit-animation-duration: 0.456s;
}

@-webkit-keyframes animatedForeground {
    from { transform: translate3d(0, 0, 0); }
    to { transform: translate3d(em(-114px), 0, 0); }
}

.GameScore {
    position: absolute;
    font-size: em(40px);
	font-family: 'Lucida Console', sans-serif;
	color: #16F0F0;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    margin-left: 50%;
    margin-top: 2%;
    z-index: 300;
}
