
@import 'variables';

.GameCanvas {
    // Design everything with a nice em of 10px.
    font-size: $base-font-size;

    // Create a 1024x576 pixel canvas.
    // If everything is defined in em's, you can resize
    // the whole game just by changing the font-size above
    // with javascript.
    position: absolute;
    left: 50%;
    top: 50%;
    width: em(1024px);
    height: em(576px);
    margin-left: (em(-1024px) / 2);
    margin-top: (em(-576px) / 2);

    background-size:contain;

    // Don't draw outside this box.
    overflow: hidden;

    // Some graphics
    //background: red;
}

.Background{
    position: absolute;
    background-image: url("../images/thewallfinal.png");
    background-repeat: repeat-x;
    height: 100%;
    width: em(4000px);
    top: 0;
    left: 0;
    -webkit-animation: animatedBackground linear 40s infinite;
}

.Foreground{
    position: absolute;
    bottom: em(-58px);
    background-image: url("../images/icy.png");
    background-repeat: repeat-x;
    width: em(1800px);
    height: em(100px);
    z-index: 100;
    -webkit-animation: animatedForeground linear 1.15s infinite;
}

@-webkit-keyframes animatedBackground {
    from { -webkit-transform: translate3d(0, 0, 0); }
    to { -webkit-transform: translate3d(em(-2000px), 0, 0); }
}

@-webkit-keyframes animatedForeground {
    from { -webkit-transform: translate3d(0, 0, 0); }
    to { -webkit-transform: translate3d(em(-114px), 0, 0); }
}

