.Pipe {
    position: absolute;
    width: em(75px);
    left: 0;

    background-image: url("../images/ice.jpg");
    background-position: 0px 0px;
    background-repeat: repeat-y;
    background-size: em(75px) em(75px);

    box-shadow: em(5px) em(5px) em(9px) rgba(0,0,0,0.75);
}

.PipeDown1,
.PipeDown2,
.PipeDown3 {
    @extend .Pipe;
    bottom: 0;
}

.PipeUp1,
.PipeUp2,
.PipeUp3 {
    @extend .Pipe;
    top: 0;
}
