.PipeDown1,
.PipeDown2,
.PipeDown3 {
    position: absolute;
    bottom: 0;
    right: 0;
    width: em(75px);
    height: em(200px);

    background: green;
}

.PipeUp1,
.PipeUp2,
.PipeUp3 {
    position: absolute;
    top: 0;
    right: 0;
    width: em(75px);
    height: em(200px);

    background: blue;
}
