.PipeDown1,
.PipeDown2,
.PipeDown3 {
    position: absolute;
    bottom: 0;
    right: 0;
    width: em(100px);
    height: em(200px);

    //background: green;
    background-image: url("../images/ice.jpg");
    background-position: 0px 0px;
    background-size: 50% 50%;
}

.PipeUp1,
.PipeUp2,
.PipeUp3 {
    position: absolute;
    top: 0;
    right: 0;
    width: em(100px);
    height: em(200px);

    background: blue;
}
