
.Player {
    // Absolutely position entities at 0,0 and use transform to
    // move it around.
    position: absolute;
    top: 0;
    left: 0;
    width: em(50px);
    height: em(50px);

    background: blue;
}

.trigger {
    -webkit-animation-name: move-player-animation;
    -webkit-animation-duration: 1s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-delay: 0;
    -webkit-animation-direction: normal;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-fill-mode: none;
}

@-webkit-keyframes move-player-animation {
    from {
        -webkit-transform: none;
    }
    12.5% {
        -webkit-transform: translate(100px, 0);
    }
    37.5% {
        -webkit-transform: translate(100px, 200px);
    }
    62.5% {
        -webkit-transform: translate(-100px, 200px);
    }
    87.5% {
        -webkit-transform: translate(-100px, 0);
    }
    to {
        -webkit-transform: none;
    }
}
