
.Scoreboard {
	position: absolute;
	left: 39%;
	top: 0;
	height: em(400px);
	width: em(600px);
	margin-left: em(-200px);
	box-sizing: border-box;

	background-image: url(../images/ironthrone.png);
    background-size: 100% 100%;
	text-align: center;

	// Keep it off-screen
	transform: translate(0, em(-400px));
	transition: transform 0.5s;
}

label[for=Score] {
    position: absolute;
    font-size: em(30px);
    margin-top: 25%;
    margin-left: -7%;
	font-family: 'Comic Sans MS', serif;
	color: red;
}

.Scoreboard-Score {
    position: absolute;
    font-size: em(30px);
    margin-top: 31%;
    margin-left: -1%;
	font-family: 'Comic Sans MS', serif;
	color: red;
}

label[for=HighScore] {
    position: absolute;
    font-size: em(30px);
    margin-top: 37%;
    margin-left: -13%;
	font-family: 'Comic Sans MS', serif;
	color: red;
}

.Scoreboard-HighScore {
    position: absolute;
    font-size: em(30px);
    margin-top: 43%;
    margin-left: -1%;
	font-family: 'Comic Sans MS', serif;
	color: red;
}

/**
 * Reset transform to animate it into the correct spot on the screen.
 */
.Scoreboard.is-visible {
	transform: none;
}

.Scoreboard-restart{
    position: absolute;
    margin-top: 55%;
    margin-left: -9%;
    padding: em(4px) em(15px);

    background: #161a16;
    background-image: -webkit-linear-gradient(top, #161a16, #e6e7f7);
    background-image: -moz-linear-gradient(top, #161a16, #e6e7f7);
    background-image: -ms-linear-gradient(top, #161a16, #e6e7f7);
    background-image: -o-linear-gradient(top, #161a16, #e6e7f7);
    background-image: linear-gradient(to bottom, #161a16, #e6e7f7);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: em(28px);
    font-family: Arial;
    color: #141213;
    font-size: inherit;
    //padding: 10px 20px 10px 20px;
    text-decoration: none;
}

.Scoreboard-restart:hover {
    background: #1a608c;
    background-image: -webkit-linear-gradient(top, #1a608c, #6fabd4);
    background-image: -moz-linear-gradient(top, #1a608c, #6fabd4);
    background-image: -ms-linear-gradient(top, #1a608c, #6fabd4);
    background-image: -o-linear-gradient(top, #1a608c, #6fabd4);
    background-image: linear-gradient(to bottom, #1a608c, #6fabd4);
    text-decoration: none;
}

.Scoreboard-restartText {
	// NOTICE: You'll lose 10% of your score if you don't change this style!
	font-family: 'Lucida Console', sans-serif;
	font-size: em(24px);
    font-variant: small-caps;
}
