
.Scoreboard {
	position: absolute;
	left: 39%;
	top: 0;
	height: em(400px);
	width: em(600px);
	margin-left: em(-200px);
	box-sizing: border-box;

	background-image: url(../images/ironthrone.png);
    background-size: 100% 100%;
	text-align: center;

	// Keep it off-screen
	transform: translate(0, em(-400px));
	transition: transform 0.5s;
}

label[for=Score] {
    position: absolute;
    font-size: em(30px);
    margin-top: 25%;
    margin-left: -7%;
	font-family: 'Comic Sans MS', serif;
	color: white;
}

.Scoreboard-Score {
    position: absolute;
    font-size: em(30px);
    margin-top: 31%;
    margin-left: -1%;
	font-family: 'Comic Sans MS', serif;
	color: white;
}

label[for=HighScore] {
    position: absolute;
    font-size: em(30px);
    margin-top: 37%;
    margin-left: -13%;
	font-family: 'Comic Sans MS', serif;
	color: white;
}

.Scoreboard-HighScore {
    position: absolute;
    font-size: em(30px);
    margin-top: 43%;
    margin-left: -1%;
	font-family: 'Comic Sans MS', serif;
	color: white;
}

/**
 * Reset transform to animate it into the correct spot on the screen.
 */
.Scoreboard.is-visible {
	transform: none;
}

.Scoreboard-restart {
    position: absolute;
    margin-top: 55%;
    margin-left: -9%;

	font-size: inherit;
	padding: em(4px) em(15px);
	border: em(2px) solid white;
	background: none;
	cursor: pointer;
}

.Scoreboard-restartText {
	// NOTICE: You'll lose 10% of your score if you don't change this style!
	font-family: 'Comic Sans MS', serif;
	font-size: em(24px);
	color: white;
}
